<div *ngIf="itemList === undefined" class="favorite-item-list favorite-item-list--loading">
  <mat-progress-spinner color="primary" mode="indeterminate" diameter="44"></mat-progress-spinner>
</div>

<ng-container *ngIf="itemList !== undefined">

  <app-list-search
    (onSearchCriteriaChange)="searchCriteriaChanged($event)"
    viewMode="simple"
    placeholderText="Search by title">
  </app-list-search>

  <div *ngIf="!itemList?.length" class="favorite-item-list favorite-item-list--empty">
    Your favorite item list is empty
  </div>

  <div *ngIf="itemList?.length">

    <ul class="favorite-item-list l-list--unstyled">
      <li *ngFor="let item of itemList" class="favorite-item-list__item">

        <div class="favorite-item-list__item__info">
          <img class="favorite-item-list__item__image" src="{{item.image}}" alt="{{item.title}}">
          <h3 class="favorite-item-list__item__title">
            {{item.title}}
          </h3>
        </div>

        <div class="favorite-item-list__item__actions">
          <button mat-icon-button *ngIf="!isFavoriteItem(item)" (click)="addToFavoriteList(item)">
            <mat-icon aria-hidden="false" aria-label="Set as favorite">star_border</mat-icon>
          </button>
          <button mat-icon-button *ngIf="isFavoriteItem(item)" (click)="deleteFromFavoriteList(item)">
            <mat-icon aria-hidden="false" aria-label="Unset as favorite">star</mat-icon>
          </button>
        </div>

      </li>
    </ul>
  </div>
</ng-container>
