<mat-form-field appearance="fill">
  <mat-label>Filter By:</mat-label>
  <select matNativeControl [(ngModel)]="selectedCriteria" (change)="emitSortingChange()">
    <ng-container *ngFor="let option of sortingOptionConfig">
      <option value="{{option.id}}">{{option.label}}</option>
    </ng-container>
  </select>
</mat-form-field>

<button mat-icon-button (click)="changeSortingOrder()">
  <mat-icon class="example-icon" aria-hidden="false" aria-label="Set as favorite">swap_vert</mat-icon>
</button>
